/* You can add global styles to this file, and also import other style files */
* {
  font-family: "PrologueRegular";
  font-weight: normal;
  font-style: normal;
}
:root {
  --blood: #700000;
  --red: #c50101;
  --bisque: #eed6b8;
  --charcoal: #353a47;
  --xanadu: #5f7470;
  --mildpink: #eddcdb;
}

html,
body {
  margin: 0;
  padding: 0;
}
