<main>
  <form
    [formGroup]="addStudentForm"
    ngxsForm="addStudent.form"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <input
      type="text"
      placeholder="Nome"
      formControlName="nome"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Matrícula"
      formControlName="matricula"
      class="form-item"
    />
    <select formControlName="curso" class="form-item" (change)="onTeamChange()" ngModel="Curso">
      <option [disabled]="defaultTeamDisabled" selected value="Curso">Curso</option>
      <!-- <option *ngFor="let prod of products">{{ prod.name }}</option> -->
    </select>
    <input
      type="text"
      placeholder="Email"
      formControlName="email"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Telefone"
      formControlName="telefone"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Observação"
      formControlName="observacao"
      class="form-item"
    />
    <button class="submit-button">
      Submit
    </button>
  </form>
</main>
