<main>
  <form
    [formGroup]="addStudentForm"
    ngxsForm="addStudent.form"
    class="form"
  >
  <span class="form-title"> Adicionar um aluno! </span>
    <input
      type="text"
      placeholder="Nome"
      formControlName="nome"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Matrícula"
      formControlName="matricula"
      class="form-item"
    />
    <select
      formControlName="curso"
      class="form-item"
      (change)="onTeamChange()"
      ngModel="teamName"
    >
      <option [disabled]="true" [selected]="true">
        {{teamName}}
      </option>
      <!-- <option [disabled]="defaultTeamDisabled" selected value="Curso">
        Curso
      </option> -->
      <!-- <option *ngFor="let team of teams" [ngValue]="team">
        {{ team.name }}
      </option> -->
    </select>
    <input
      type="text"
      placeholder="Email"
      formControlName="email"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Telefone"
      formControlName="telefone"
      class="form-item"
    />
    <input
      type="text"
      placeholder="Observação"
      formControlName="observacao"
      class="form-item"
    />
    <section class="student-buttons">
      <button (click)="onChangeForm()" class="donation-button">Fazer Doação</button>
      <button (click)="onSubmit()" class="submit-button">Adicionar</button>
    </section>
  </form>
</main>
