<main class="main">
  <app-header></app-header>
  <div class="content">
    <ngb-accordion class="accordion" [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Doações">
        <ng-template ngbPanelContent>
          <div class="doantion-header">
            <section class="don-item item-ten">Time</section>
            <section class="don-item item-twenty">Doação</section>
            <section class="don-item item-twenty">Aluno</section>
            <section class="don-item item-twenty">Pontuação</section>
          </div>
          <app-donation-item
            *ngFor="let donation of allDonations"
            [donation]="donation"
          ></app-donation-item>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Alunos" [disabled]="true">
        <ng-template ngbPanelContent> </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</main>
