.main {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 10%;
}
.accordion {
  display: inline-block;
  width: 80% !important;
  max-width: 800px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}