.main {
  overflow-y: auto;
  overflow-x: hidden;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 10%;
}
.accordion {
  display: inline-block;
  width: 80% !important;
  max-width: 800px;
}

.item-row {
  display: flex;
  /* justify-content: space-between; */
  font-size: 15px;
}
.table-body {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
  padding-left: 0 !important;
  align-self: center;
  border: 1px solid var(--redpink);
  border-radius: 8px;
  width: 100%;
}
.table-header {
  display: flex;
  /* justify-content: space-between; */
  color: black;
  background-color: var(--darkorange);
  border-bottom: 1px solid var(--redpink);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.table-header-item {
  font-weight: bold;
  font-size: 20px;
  margin: 2px 10px;
}

.item-odd {
  background-color: var(--creamwhite);
}
.item-even {
  background-color: var(--lightorange);
}
.item-value {
  color: #000000;
  margin: 2px 8px 2px 8px;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-right: 1px solid var(--redpink);
}
.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-right: 1px solid var(--redpink);
}
.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-right: 1px solid var(--redpink);
}
.item4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  text-align: center;
}