<ngx-spinner
  bdColor="rgba(53, 58, 71, 0.7)"
  size="large"
  color="#732222"
  type="pacman"
>
</ngx-spinner>
<main class="main">
  <app-header></app-header>
  <div class="columns">
    <section class="column">
      <div class="">
        {{aboutInfo}}
      </div>
    </section>
    <section class="column">
      <section class="form">
        <span class="form-title">Já é colaborador?</span>
        <div class="form-field">
          <input
            id="username"
            type="text"
            [(ngModel)]="userName"
            placeholder="Username"
          />
        </div>

        <div class="form-field">
          <input
            id="password"
            type="password"
            [(ngModel)]="userPassw"
            placeholder="Password"
          />
        </div>

        <button class="form-field" type="submit" (click)="login()">
          Login
        </button>
      </section>
    </section>
  </div>
</main>
