<main class="main">
  <img src="./assets/img/horizontalBanner.png" />
  <div class="columns">
    <section class="column">
      <h1 class="section-title">O QUE É</h1>
      <p class="section-text"></p>
    </section>
    <section class="column">
      <h1 class="section-title">QUEM PODE PARTICIPAR</h1>
      <p class="section-text"></p>
    </section>
    <section class="column">
      <h1 class="section-title">CLASSIFICAÇÃO E PREMIAÇÃO</h1>
      <p class="section-text"></p>
    </section>
  </div>
</main>
