<main class="header">
  <section class="images">
    <img src="./assets/img/main.svg" class="logo" />
    <img src="./assets/img/icex.svg" class="help" />
  </section>
  <section class="buttons">
    <div *ngFor="let opt of options; let i = index">
      <button
        *ngIf="opt.minPerm <= userPerm.valueOf() && logOption(opt.path) && donateOpt(opt.path)"
        [disabled]="i === current"
        (click)="onClickOption(opt.path)"
        [ngClass]="i === current ? 'header-menu-button-selected' : ''"
        class="header-menu-button"
      >
        {{ opt.name }}
      </button>
    </div>
    <button
      *ngIf="logout"
      (click)="logof()"
      class="header-menu-button"
    >
      Logout
    </button>
  </section>
</main>
