.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-color: var(--bluetwo);
}
.header-banner {
  height: 64px;
  display: flex;
  align-items: center;
}
.header-menu {
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-button {
  border: none;
  height: 20px;
  border-radius: 8px;
  margin: 0px !important;
  padding: 0px 8px !important;
  background-color: var(--bluetwo);
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.header-menu-button:hover {
  background-color: var(--blueone);
}
.header-menu-button-selected {
  cursor: default;
  background-color: var(--blueone);
}
.image {
  width: auto;
  height: 50px;
  margin: 0 8px;
}
