.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100vw;
  background-color: var(--charcoal);
}
.image {
  width: auto;
  height: 70px;
}
