.header {
  display: flex;
  align-items: center;
  height: 110px;
  width: 100vw;
  padding: 0px 0px 0px 40px;
  background-color: var(--lightpink);
}
.buttons {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
.images {
  display: flex;
  justify-content: flex-start;
}
.header-menu-button {
  border: none;
  height: 110px;
  width: auto;
  padding: 48px 32px;
  color: #000000;
  background-color: var(--lightpink);
  font-weight: 600;
  cursor: pointer;
  justify-self: flex-end;
}
.header-menu-button:hover {
  background-color: var(--darkpink);
}
.header-menu-button-selected {
  cursor: default;
  background-color: var(--darkpink);
}
.logo {
  height: 46px;
  width: 148px;
  margin: 0 8px;
  justify-self: flex-start;
  /* align-self: flex-start; */
}
.help {
  height: 46px;
  width: 83px;
  justify-self: flex-start;
  /* align-self: flex-start; */
}
