<main class="main">
  <app-header></app-header>
  <section class="box">
    <div class="title-container">
      <span class="title">LEADERBOARD</span>
    </div>
    <div class="divider"></div>
    <div class="list-container">
      <li
        class="list"
        *ngFor="let team of teams;"
      >
        <div class="item">
          <span class="name">{{team.name}}</span>
          <ngb-progressbar class="progressbar" [value]="team.points" [max]="leaderPoints" type="warning">{{team.points}}</ngb-progressbar>
        </div>
      </li>
    </div>
  </section>
</main>
