<main>
  <form
    [formGroup]="newSimpleDonationForm"
    ngxsForm="simpleDonation.form"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <input
      type="text"
      placeholder="Doação"
      formControlName="doacao"
      class="form-item"
    />
    <select
      class="form-item"
      (change)="onDonationChange()"
      formControlName="tipo"
    >
      <option [disabled]="donation" selected>Tipo</option>
      <option *ngFor="let prod of products" [ngValue]="prod.id">
        {{ prod.name }}
      </option>
    </select>
    <input
      type="number"
      placeholder="Quantidade"
      formControlName="quantidade"
      class="form-item"
    />
    <select
      formControlName="representante_id"
      class="form-item"
      (change)="onStudentChange()"
    >
      <option [disabled]="student" selected>Reprensentante(Aluno)</option>
    </select>
    <div class="form-item">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="data"
        />
        <div class="input-group-append">
          <button
            class="datepicker-button"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
    <input
      type="text"
      placeholder="Observação"
      formControlName="observacao"
      class="form-item"
    />
    <button class="submit-button">Submit</button>
  </form>
</main>
