.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:transparent
}
.form-item {
  margin: 0px 0px 16px 0px;
  padding: 0 0 0 8px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #FF968A;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.submit-button {
  height: 40px;
  width: 232px;
  border-radius: 4px;
  background-color: #FF968A;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

.student-button {
  height: 40px;
  width: 232px;
  border-radius: 4px;
  border: 3px solid #FF968A;
  background-color: transparent;
  border-radius: 4px;
  color: #FF968A;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

.form-input{
  box-sizing: border-box;
  height: 40px;
  width: 304px;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding-left: 8px;
}

select {
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgba(0,0,0,0.7);
  
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%,  gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
textarea:focus, input:focus {
  color: rgba(0,0,0,0.7);
}

input, select, textarea{
  color: rgba(0,0,0,0.7);
}

::placeholder {
  color: rgba(0,0,0,0.7) !important;
  opacity: 1 !important;
}

.botoes-donate{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
.form-title{
  align-self: flex-start;
    height: 32px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 32px 0;
}