<main>
  <input type="text" placeholder="Doação" />
  <select>
    <option disabled selected>Tipo</option>
    <option *ngFor="let prod of products">{{ prod.name }}</option>
  </select>
  <input type="number" placeholder="Quantidade" />
  <select>
    <option disabled selected>Reprensentante(Aluno)</option>
  </select>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="datepicker-button"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </form>
  <input type="text" placeholder="Observação" />
</main>
